body {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 25px;
  background-image: url(https://i.pinimg.com/originals/19/d1/9e/19d19e0dcb1f891d50562023c5a6e60f.jpg);
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  margin: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-1 {
  background-color: rgba(247, 129, 190, 0.589);

}

.column-2 {
  background-color: rgba(245, 208, 169, 0.678);

}

.column-3 {
  background-color: rgba(227, 246, 206, 0.733);

}